


a{
  color:black;
  padding-left: 25px;
}

.navbar{
  height: 70px;
  
}


.jumbotron{
  top: 100px;
  position: relative;
  height: 500px;
}

.haha{
padding-top: 10px;
 font-size: 18px;
 color: gray;
}


.brussel{
  margin-top: 20px;
}

.lijst{
  font-size: 18px;
}