


 a{
  color:black;
  padding-left: 25px;
}


.jumbotron-fluid{
  margin-top:-25px;
  position: relative;
  height: 420px;
  background-image: url("images/hamburger3.jpg");
  background-size:100%; 
  margin-bottom: 0px;
}

.navbar{
  height: 75px;
  
}



.card-body{
 margin-left: 15px;
}



@media screen and(min-width: 768px){
  
  }

@media screen and (min-width: 576px){

}


.reclame1{
  background-image: url("images/fireworks.jpg");
  color: white;
  background-size: 100%;
}