a{
  color:black;
  padding-left: 25px;
}


.jumbotron-fluid{
  margin-top:-25px;
  position: relative;
  height: 350px;
 
  background-image: url("images/pizza4.jpg");
  margin-bottom: 0px;

}

.navbar{
  height: 75px;
  
}



.jumbo2{
  background-image: url("images/drinks.jpg");
  background-size:100%; 
  
}