a{
  color:black;
  padding-left: 25px;
}


.jumbotron-fluid{
  margin-top:-25px;
  position: relative;
  height: 350px;
 
  background-image: url("images/pizza4.jpg");
  

}

.navbar{
  height: 75px;
  
}

.row{
  background-image: url("images/drinks.jpg");
  background-size:100%; 
}

