a{
  color:black;
  padding-left: 25px;
}


.jumbotron-fluid{
  margin-top:-25px;
  position: relative;
  height: 350px;
 
  
  

}

.navbar{
  height: 75px;
  
}


.price-1{
  left:1000px;
  position:fixed;
}